# Working with dates and time in Pandas

Source article for this example: https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea

## Creating dummy data

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

# Create some dummy data to represent a problem
date_rng = pd.date_range(start='1/1/2017', end='5/15/2017', freq='3H')
df = pd.DataFrame(date_rng, columns=['date'])
df['Column 1'] = np.random.randint(0,100,size=(len(date_rng)))
df['Column 2'] = np.random.randint(0,100,size=(len(date_rng)))
df['Column 3'] = np.random.randint(0,100,size=(len(date_rng)))
df['Column 4'] = np.random.randint(0,100,size=(len(date_rng)))
                               
# Set datetimes as index instead of the default '0, 1, 2' etc.  
df['datetime'] = pd.to_datetime(df['date'])
df = df.set_index('datetime')
df.drop(['date'], axis=1, inplace=True)
                               
df

/tmp/ipykernel_11502/2816293085.py:6: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_rng = pd.date_range(start='1/1/2017', end='5/15/2017', freq='3H')

                     Column 1  Column 2  Column 3  Column 4
datetime
2017-01-01 00:00:00        47        66        93        67
2017-01-01 03:00:00        29        54        67        44
2017-01-01 06:00:00        82        38        60        32
2017-01-01 09:00:00        97        59         8        40
2017-01-01 12:00:00        44        29        44        86
...                       ...       ...       ...       ...
2017-05-14 12:00:00        37        70        39        17
2017-05-14 15:00:00        65        47        69        93
2017-05-14 18:00:00        32        40        17        34
2017-05-14 21:00:00         0        26        65        82
2017-05-15 00:00:00         5        95        32        59

[1073 rows x 4 columns]

## Extract fast statistics

In [2]:
df.describe()

          Column 1     Column 2     Column 3     Column 4
count  1073.000000  1073.000000  1073.000000  1073.000000
mean     50.434296    49.860205    49.711090    49.899348
std      29.404437    28.706197    29.089742    29.047843
min       0.000000     0.000000     0.000000     0.000000
25%      25.000000    26.000000    25.000000    25.000000
50%      51.000000    50.000000    49.000000    50.000000
75%      77.000000    75.000000    75.000000    75.000000
max      99.000000    99.000000    99.000000    99.000000

## Extracting data for specific day of the month

In [3]:
df[df.index.day == 2]

                     Column 1  Column 2  Column 3  Column 4
datetime
2017-01-02 00:00:00        64        54        96        41
2017-01-02 03:00:00        24        65        60        60
2017-01-02 06:00:00        77        56        62        16
2017-01-02 09:00:00        86        93        62         6
2017-01-02 12:00:00        53        40        67        81
2017-01-02 15:00:00        51        98        17        32
2017-01-02 18:00:00        89        12        42        16
2017-01-02 21:00:00        19        56        52        96
2017-02-02 00:00:00        86        52        57        12
2017-02-02 03:00:00        44        48        11        99
2017-02-02 06:00:00        20        10        37        47
2017-02-02 09:00:00        25        68        54        86
2017-02-02 12:00:00        84        53        91        94
2017-02-02 15:00:00        64        47        49        48
2017-02-02 18:00:00        99        57        51        78
2017-02-02 21:00:00        44        77        31        72
2017-03-02 00:00:00        48        24        30        92
2017-03-02 03:00:00        71        50        67        64
2017-03-02 06:00:00        84        87        14        16
2017-03-02 09:00:00        61        68        75        60
2017-03-02 12:00:00        55         9        62        29
2017-03-02 15:00:00        85        35        99        22
2017-03-02 18:00:00        29        30        33        59
2017-03-02 21:00:00        96        72        25        22
2017-04-02 00:00:00        31        18        78        49
2017-04-02 03:00:00        97        68        65        66
2017-04-02 06:00:00        49        97        12        28
2017-04-02 09:00:00        52        43         3        45
2017-04-02 12:00:00        80        54        24        37
2017-04-02 15:00:00        16        67        83        17
2017-04-02 18:00:00        91        80        55         9
2017-04-02 21:00:00        27        90        68         7
2017-05-02 00:00:00        27        51        65        66
2017-05-02 03:00:00        72        77        94        72
2017-05-02 06:00:00        95        49        57        10
2017-05-02 09:00:00        13        80         3        38
2017-05-02 12:00:00        55        51        88        19
2017-05-02 15:00:00        36        90        28        49
2017-05-02 18:00:00        39        12        57        81
2017-05-02 21:00:00        49        27        63         6

## Extracting data for specific date

In [4]:
df['2017-01-04']

KeyError: '2017-01-04'

## Extracting data between two dates

In [ ]:
df['2017-03-04':'2017-03-06']

## Compute statistics over time interval

There are many built-in arguments for the `resample` method, some basic ones include:  
* `'H'` for hours
* `'D'` for days
* `'B'` for business days (weekdays)
* `'M'` for months
* `'Y'` for years

In [ ]:
df.resample('M').mean()

In [ ]:
df.resample('5D').max()